@media (max-width: 768px) {
  .header {
    justify-content: space-around;
  }
  .header__nav,
  .header__button {
    display: none;
  }
  .wrapper {
    flex-wrap: wrap;
  }
  .header__menu-btn {
    display: block;
  }
  .hero {
    width: 100%;
  }
  .hero__title {
    width: 100%;
    align-items: center;
    font-size: 25px;
  }
  .hero__subtitle {
    width: 100%;
    align-items: center;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .service {
    flex-wrap: wrap;
    align-items: center;
  }

  .service__items {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .about {
    flex-wrap: wrap;
    justify-content: left;
  }

  .about__title {
    width: 100%;
    text-align: center;
    font-size: 25px;
  }
  .about__article {
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .showcase {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .showcase__gallery {
    margin-top: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .blockquote-main {
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 5px;
  }
  .blockquote__title {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
  }
  .blockquote-card {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .footer {
    max-width: 768px;
    justify-content: space-around;
  }
  .footer__socials {
    flex-direction: column;
  }
}
